---
import Layout from "../layouts/Layout.astro";
---

<Layout pageName="プライバシーポリシー">
  <article class="container">
    <hgroup class="title-line">
      <h1>プライバシーポリシー</h1>
    </hgroup>
    <section>
      <p><a href="/about">新歓祭・新歓Webについて</a>ページに移動しました</p>
    </section>
  </article>
</Layout>

<style>
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-block: 1rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-block: 0 0.1em;
    border-block-end: 1px solid hsla(210, 18%, 87%, 1);
    border-inline-start: 0.25em solid var(--accent);
    padding-inline-start: 1ch;
    margin-block: 2rem 1rem;
  }
  h3 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-block: 1.75rem 1rem;
  }
  section {
    margin-block-end: 2rem;
  }
  ul {
    margin-block: 1rem 2rem;
    padding-inline-start: 2em;
  }
  li {
    margin-block-end: 0.5rem;
  }
  section p {
    margin-block: 0 1rem;
    line-height: 1.6;
  }
  section a {
    background-color: transparent;
    color: var(--link);
    text-decoration: underline;
    word-break: break-word;
    transition: all 0.2s;
  }
  section a:hover {
    color: var(--link-hover);
  }
</style>
